appdirs==1.4.3
asgiref==3.3.1
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
Cython==0.29.21
distlib==0.3.0
distro==1.4.0
Django==3.1.4
django-cors-headers==3.7.0
django-rest-framework==0.1.0
django-rest-framework-docs==0.1.7
django-rest-knox==4.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
et-xmlfile==1.0.1
html5lib==1.0.1
httpie==2.4.0
idna==2.8
ipaddr==2.2.0
itypes==1.2.0
jdcal==1.4.1
Jinja2==3.0.1
jsonpickle==2.0.0
lockfile==0.12.2
MarkupSafe==2.0.1
msgpack==0.6.2
mysqlclient==2.0.3
openapi-codec==1.3.2
openpyexcel==2.5.14
openpyxl==3.0.6
packaging==20.3
pep517==0.8.2
progress==1.5
pycparser==2.20
Pygments==2.8.1
PyJWT==2.0.1
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.19.0
pytoml==0.1.21
pytz==2020.4
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
seccomp==3.8
simplejson==3.17.5
six==1.14.0
sqlparse==0.4.1
tz==0.2.2
uritemplate==3.0.1
urllib3==1.25.8
webencodings==0.5.1
